use asdf

# db

export SUPABASE_URL= # https://supabase.com/docs/reference/javascript/initializing
export SUPABASE_ANON_KEY=

# server

export ALCHEMY_API_KEY= # https://accountkit.alchemy.com/react/quickstart#2-get-your-alchemy-api-key
export BANDADA_API_KEY= # https://app.bandada.pse.dev/
export PSE_BANDADA_GROUP_ID=
export CLIENT_URL=


# client
# url of the backend server app exposed client side in the nextjs app
export NEXT_PUBLIC_SERVER_URL=http://localhost:3001
