@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:underline hover:text-crayola;
  }
  body {
    @apply bg-gradient-to-br from-white via-cornsilk to-blue text-wenge
      text-2xl;
  }

  button {
    @apply bg-crayola text-cornsilk font-semibold py-2 px-4 rounded;
    transition: border-radius 0.3s ease;
  }
  button:hover {
    border-radius: 0.75rem;
  }

  code {
    @apply text-base;
  }

  /* FIXME this has no effect */
  input {
    @apply gb-cornsilk border border-blue rounded focus:outline-none
      focus:border-crayola;
  }
}

/* body { */
/*   color: var(--foreground); */
/*   background: var(--background); */
/*   font-family: Arial, Helvetica, sans-serif; */
/* } */

/* @layer utilities { */
/*   .text-balance { */
/*     text-wrap: balance; */
/*   } */
/* } */
