@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --background: #ffffff; */
/*   --foreground: #171717; */
/* } */

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

@layer base {
  a {
    @apply hover:underline hover:text-crayola;
  }
  body {
    @apply bg-gradient-to-br from-white via-cornsilk to-blue text-wenge text-2xl;
  }

  button {
    @apply bg-crayola text-cornsilk font-semibold py-2 px-4 rounded;
    transition: border-radius 0.3s ease;
  }
  button:hover {
    border-radius: 0.75rem;
  }
}

/* body { */
/*   color: var(--foreground); */
/*   background: var(--background); */
/*   font-family: Arial, Helvetica, sans-serif; */
/* } */

/* @layer utilities { */
/*   .text-balance { */
/*     text-wrap: balance; */
/*   } */
/* } */
